// variables

// $grey-1: #edede9;
// $grey-2: #6c757d;
// $grey-3: #343a40;
// $beige-1: #d6ccc2;
// $beige-2: #f5ebe0;
// $beige-3: #d5bdaf;
// $yellow-1: #ffd500;
// $orange-1: #fca311;
// $orange-2: #bb3e03;

// new colors ------------------
$grey-1: #e5e5e2;
$grey-2: #6c757d;
$grey-3: #343a40;
$orange-1: #ffbe0b;
$orange-2: #fb5607;
$dark-blue-1: #2f5f7e;

// media query vars
$media-q-mobile: " (max-width: 500px)";
$media-q-tablet: " (max-width: 1100px)";



