@import "variables";


#g-container {
    #p-cv {
        // gap: 35px;
        width: 85%;
        align-self: center;
        margin: 35px 0;

        section {
            ul {
                margin-left: 15px
            };

            div {
                // div
            }
        }
    }
}