// @import url('_variables.scss');
@import "variables";


#p-main {

    #skillset-card-wrapper {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

        .skill-card {
            max-width: 300px;
            width: 85%;
            border-radius: 10px;
        }

        .skill-stripe {
            border-radius: 10px;
            max-width: 900px;

        }
    }

    #connect-section {
        max-width: 900px;
        width: 90%;
        margin: 0 auto;

        form {

          

          textarea, input {
            border-radius: 8px;
            padding: 10px;
          }
          
          textarea {
            resize: none;
          }

          .form-control {
            align-items: center;
          }
          .submit-control {
            button {
                width: max-content;
                padding: 10px;
                border-radius: 8px;
                margin: 0 auto;
            }
          }


            
        }
    }

    .portfolio-item {
        max-width: 900px;
        width: 80%;
        margin: auto;
        padding: 20px;
        border-radius: 14px;

        

        img {
            max-width: 700px;
            width: 80%;
            margin: auto;
            border-radius: 8px;
        }
    }
    
}



// #g-container {
    
    

  
//     #p-main {
      
//       margin-top: 40px;
//       padding: 35px;
      
//       #top-view {
//         justify-content: space-between;
  
//         #profile-picture {
//           border: $grey-2 solid 3px;
//           border-radius: 20px;
//           max-width: 436px;
//           max-height: 576px;

//           @media #{$media-q-tablet} {
//             width: 90%;
//           }
//         }
  
//         #code-animation {
//           width: 600px;
//           gap: 5px;
//           font-family: "Roboto Mono", sans-serif;
//           justify-content: center;
//           color: $orange-2;
//           // for the code inside the animation function
  
//           @media #{$media-q-tablet} {
//             width: 90%;
//           }
          
//         }
        
//         @media #{$media-q-tablet} {
//           flex-direction: column;
//           gap: 35px;
//           flex-wrap: nowrap;
//           align-items: center;
          
//         }
  
//       }
  
//       #resume {
//         margin-top: 35px;
//         padding: 20px;
//         max-width: 50%;
  
//         text-align: justify;
//         margin: 35px auto;

//         @media #{$media-q-tablet} {
//           max-width: 75%;
//         }
//       }
  
//       #projects {
//         .cat-title {
//           color: orange-2;
//           margin-bottom: 35px;
//           margin-top: 35px;
//           text-align: center;
//         }
  
//         #project-cards-container {
//           justify-content: center;
  
          
          
//           .project-card {
//             width: 220px;
//             height: 350px;
  
  
//             img {
//               width: 220px;
//               height: 180px;
//               border-top-right-radius: 15px;
//               border-top-left-radius: 15px;
//             }
  
//             h4 {
//               text-align: center;
//             }
  
//             p {
//               padding: 15px;
//               text-align: justify;
//             }
//           }
  
//         }
//       }
  
//     }
  
//   }

