
// global styles ---------------------------------

* {
    padding: 0;
    margin: 0;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  
  .gap-15 {
    gap: 15px;
  }

  .gap-25 {
    gap: 25px;
  }
  
  .gap-35 {
    gap: 35px;
  }
  
  .gap-45 {
    gap: 45px;
  }
  
  .justify-between {
    justify-content: space-between;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }
  
  .justify-around {
    justify-content: space-around;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-top {
    justify-content: flex-start;
  }
  
  .padding-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .padding-x-20 {
    padding-left: 20px;
    padding-right: 20px;
    
  }
  
  .padding-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .padding-x-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  
  // end global styles ---------------------------------
  
  // global layout -----------------------------------------
  
  #g-container {
    min-height: 100vh;

    #top-header {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        width: 90%;
        
        #p-nav {
            
            #site-title {
                
            }
            
            #nav-menu {
                list-style: none;
            }
        }
        

        #header-intro {
            min-height: max-content;
            
            img {
                width: 80%;
                max-width: 400px;
            }

            div {
                align-self: center;

                h2 {
                    text-align: center;
                    font-size: 1.4rem;
                }
                p {
                    text-align: center;

                    font-size: 1.2rem;
                }
            }
        }
    }

    #p-main {

        #skillset-card-wrapper {
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;

            .skill-card {
                max-width: 330px;
                width: 85%;
                border-radius: 10px;
            }

            .skill-stripe {
                border-radius: 10px;
                max-width: 900px;

            }
        }

        #connect-section {
            max-width: 900px;
            width: 90%;
            margin: 0 auto;

            form {
              textarea, input {
                border-radius: 8px;
                padding: 10px;
              }
              
              textarea {
                resize: none;
              }

              .form-control {
                align-items: center;
              }
              .submit-control {
                button {
                    width: max-content;
                    padding: 10px;
                    border-radius: 8px;
                    margin: 0 auto;
                }
              }


                
            }
        }

        .portfolio-item {
            max-width: 900px;
            width: 85%;
            margin: auto;
            padding: 35px;
            border-radius: 14px;

            

            img {
                max-width: 700px;
                width: 80%;
                margin: auto;

            }
        }
        
    }


    #p-footer {
        text-align: center;
        font-size: 1.3rem;

    }

  }