// imports
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Lora:wght@500;700&family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Quicksand:wght@500;700&family=Raleway:wght@300;500;700&family=Roboto+Mono:wght@300;500;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Work+Sans:wght@300;500;700&display=swap');

// @import "./variables.scss";
@import "variables";

// global styles ---------------------------------

* {
  
  font-family: "Inconsolata", "Raleway", sans-serif;
  font-weight: 500;
}


h1, h2, h4 {
  font-family: "Montserrat", "Quicksand", sans-serif;
  font-weight: 700;

}

// end global styles ---------------------------------



// global styling -----------------------------------------

#g-container {
  
  background-color: $grey-1;
  
  
  #top-header {
    
    #p-nav {
      
      #site-title {
        font-size: 1.6rem;
        color: #2f5f7e;

      }
      
      #nav-menu {
        li {
          a {
            font-size: 1.3rem;
            color: #2f5f7e;
            text-decoration: none;
          }
        }
      }
    }
            

    #header-intro {
      text-align: right;
      
      
      div {
          text-align: left;
          color: #2f5f7e;
          h2 {
              font-size: 1.4rem;
          }
          p {
              font-size: 1.2rem;
          }
      }
    }  
  }

  #p-main {

    background-color: white;

    h2 {
      font-size: 1.6rem;
      color: $dark-blue-1;
      text-align: center;
    }

    .main-section-title, .card-title {
      color: $dark-blue-1;
    }

    .main-section-title {
      font-size: 1.3rem;
    }

    .main-section-title {
     text-align: center;     
    }
    .card-title {
      font-size: 1.2rem;
      text-align: center;
    }

    .card-description {
      font-size: 1.10rem;
      color: black;
      text-align: justify;
    }

    .card-logo {
      color: $dark-blue-1;
    }

    #connect-section {

      form {
        
          textarea, input, label, button {
              font-size: 1.3rem;
          }

          textarea, input {
            border: $dark-blue-1 solid 2px;
            
          }

          .submit-control {
            button {
              background-color: $dark-blue-1;
              color: white;
            }
          }
      }
    }

    .portfolio-item {
      border: 2px solid $dark-blue-1;

      h4 {
          text-align: center;
          color: $dark-blue-1;
          font-size: 1.3rem;
      }

      p {
        font-size: 1.18rem;
      }

      
  }



  }

  #p-footer {
    color: black;
  }

}

// end global layout -----------------------------------------


// color theme
@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  #g-container {
      background-color: $grey-3;
      
      #top-header {
    
        #p-nav {
          
          #site-title {
            color: $orange-1;
          }
          
          #nav-menu {
            li {
              a {
                color: $orange-1;
              }
            }
          }
        }
                
    
        #header-intro {
          div {
            h2 {
              color: $orange-1;
            }

            p {
              color: $grey-1;
            }
          }
        }

        
      }

      #p-main {
        background-color: $grey-3;

        

        .main-section-title, .card-title {
          color: $orange-1;
        }
    
        .card-description {
          color: white;
        }
    
        .skill-card, .skill-stripe {
          background-color: $grey-2;
        }

        .card-logo {
          color: $orange-1;
        }

        #connect-section {

        form {
          
          label {
            color: $grey-1;

          }

          textarea, input {
            background-color: $grey-2;
            border: 2px $grey-1 solid;
            color: white;
          }

          .submit-control {
            button {
              background-color: $orange-1;
              color: black;
            }
          }
        }

        

      }

    }

    #p-footer {
      color: $grey-1;
    }
      
  }
}
